.songbird-levels-names{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 140, 0, 0.7);
    border-radius: 5px;
    margin: 10px;
}

.level{
    padding: 10px;
}

.active-level{
    color: white;
}