.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: rgb(31, 24, 9);
    border: 1px solid rgba(0,0,0,.125);
}
.songbird-PlayInfoSide{
    width: 100%;
    margin: 20px 30px;
}
.songbird-next-level-button{
    margin: 20px;
    width: 100%;
}
.songBird-current-bird-info{
    display: flex;
    justify-content: space-around;
    height: 100%;
    border-radius: .25rem;
    background-color: #1f1809;
}
.songbird-current-bird-img{
    border: 1px solid rgba(255, 140, 0, 0.7);
    margin: 10px;
    height: 150px;
    width: 150px;
    border-radius: .25rem;
}
.list-group-item.active{
    background-color:rgba(255, 140, 0, 0.7);
    border-color:rgba(255, 140, 0, 0.7);
}
.songbird-info-player{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5px;
}
.false{
    color: rgb(153, 15, 15) !important;
}
.true{
    color: #28a745 !important;
}
.songbird-information-block{
    color: rgba(255, 140, 0, 0.7);
    font-size: 0.8rem;
    padding: 6px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;
}
.songBird-current-bird-info{
    color: rgba(255, 140, 0, 0.7); 
}