.songbird-currentbird-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    background-color: rgb(31, 24, 9);
    border-radius: 5px;
    border: 2px rgba(0,0,0,.125);
}
.songbird-img-container{
    margin: 10px;
}
.songbird-currentbird{
    border: 1px solid rgba(255, 140, 0, 0.7);
    border-radius: 5px;
    width: 120px;
    height: 120px;
    background: url("../../../../../assets/png/sticker_vk_wwf_012.png");
    background-size: cover;
}
.songbird-current-info{
    width: 100%;
    height: 120px;
}
.songbird-question{
    color: rgba(255, 140, 0, 0.7);
}
.songbird-player{
    margin: 0 10px;
    display: flex;
    align-items: center;
}
.songbird-playstop-button{
    width: 55px;
    height: 55px;
    border-radius: 20px;
    border: 3px solid rgba(255, 140, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.songbird-player-state{
    transition: width 0.1s;
    background: rgba(255, 140, 0, 0.7);
    width: 0%;
    height: 5px;
}
.songbird-player-duration{
    width: 100%;
    margin: 0px 10px;
    background-color: rgb(14, 11, 4);
}
.songbird-nan-player{
    display: flex;
    justify-content: space-between;
}
.songbird-nan-player p{
    margin: 0 10px;
    color: rgba(255, 140, 0, 0.7);;
}
.songbird-left-pause{
    transition: transform 0.2s ease;
    margin: 0 10px;
    height: 40px;
    width: 3px;
    background: rgba(255, 140, 0, 0.7);
}
.songbird-rigt-pause :nth-child(1){
    transition: transform 0.2s ease;
    height: 20px;
    width: 3px;
    background: rgba(255, 140, 0, 0.7);
}
.songbird-rigt-pause :nth-child(2){
    transition: transform 0.2s ease;
    height: 20px;
    width: 3px;
    background: rgba(255, 140, 0, 0.7);
}
.songbird-rigt-pause{
    transition: transform 0.2s ease;
    margin: 0px 10px;
}
.songbird-left-pause.active{
    transform: translateX(6px);
    border-radius: 2px;
}
.songbird-rigt-pause.active{
    transform: translateX(-7px);
    border-radius: 2px;
}
.songbird-rigt-pause.active :nth-child(1){
    transform: translateY(4.5px) rotate(-45deg);
    height: 26px;
    border-radius: 2px;
}
.songbird-rigt-pause.active :nth-child(2){
    transform: translateY(-4.5px) rotate(45deg);
    height: 26px;
    border-radius: 2px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
.form-control-range{
    width: 100px;
}
.songbird-birds-container{
    min-width: 310px;
    width: 30%;
    margin: 5px;
}
.songBird-current-bird-info-container{
    min-width: 310px;
    width: 60%;
    margin: 5px;
}
.songbird-PlayInfoSide{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.songBird-current-bird-info p{
    text-align: center;
    width: 90%;
}
.songBird-current-bird-info{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
@media (max-width: 825px) {
    .songbird-birds-container{
        width: 90%;
    }
    .songBird-current-bird-info-container{
        width: 90%;
    }
}
@media (max-width: 399px){
    .songbird-info-player{
        width: 100% !important;
    }
}