.songbird-statistic-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-top: 5px solid rgba(255, 140, 0, 0.7);
    border-bottom: 5px solid rgba(255, 140, 0, 0.7);
}
.songbird-statistic-text p{
    color: rgba(255, 140, 0, 0.7);
    text-align: center;
}
.songbird-statistic-text form{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.songbird-win-img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.songbird-gif-container{
    margin: 5px;
    display: flex;
    justify-content: center;
}